
{% extends 'main/base.html' %}
{% block title %}Password Reset - {% endblock %}
{% load static %}
{% block content %}
<main class="container my-4" style="margin-top:80px !important;">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1"  style="color:white;">Change Password</h3>
	{% if validlink %}
	<table class="table table-bordered"  style="color:white;">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Register" class="btn btn-primary" />
				</td>
			</tr>
		</form>
	</table>
	{% else %}
	<p>Link has been expired, Please reset again</p>
	{% endif %}
</main>
{% endblock %}