
{% extends 'main/base.html' %}
{% block title %}Password Reset - {% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<main class="container my-4" style="margin-top:80px !important;">
<div class="card mt-4 mb-4 ml-auto mr-auto" style="max-width: 800px; margin-top:80px !important; margin-bottom:60px !important; " >
        <div class="card-header text-center bg-success text-white">
        Reset Password
        </div>
        <div class="card-body">
 
		
        <form method="POST" action="." enctype="multipart/form-data" >
            {%csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-primary form-control mt-4" value="Send">
        </form>
        
    
	
	</div>
	
	</div>
</main>
{% endblock %}